<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link href="https://arpnetworks.com/css/jquery.formstyler.css" rel="stylesheet">
  <link href="https://arpnetworks.com/css/main.css" rel="stylesheet">
  <link href="https://arpnetworks.com/css/custom.css" rel="stylesheet">
  <script src="https://arpnetworks.com/js/vendor/modernizr-2.6.2.min.js"></script>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

</head>
